/*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/*
* Primary Blue: #44D5FF;
* Dark Blue: #084259;
* Primary Pink: #FF7FA8;
*/

* {
    font-family: 'Open Sans';
    font-weight: 600;
}

body {
}

section {
    overflow-x:hidden;
}


/*
* Trust Badge
*/

#mlh-trust-badge {
    display: block;
    max-width: 100px;
    min-width: 60px;
    position: fixed;
    right: 50px;
    top: 0;
    width: 10%;
    z-index: 10000;
}

.navbar .navbar-brand{
  padding-top:0px;
}


/*
* Hero Section
*/

.hero::before{
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("/images/background.jpg");
    background-size:cover;
    width: 110%;
    height: 110%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translate3d(0,0,0);

}


.hero {
    min-height: 110vh;
    color: #fff;
    z-index: 0;
    overflow: auto;
}

.hero img {
    max-width: 400px;
    height: auto;
    width: auto;
}

.hero hr {
    border-top: 15px solid #084259;
    margin: 0;
    position: relative;
    top: -14px;
}

.hero .wrapper {
    min-width: 200px;
    width:auto;
    background-color: rgba(77, 82, 87, 0.3);
    border-radius: 10px;
    padding: 15px 25px 0px 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.hero .wrapper h2 {
    font-size: auto;
    font-weight: 200;
    padding-bottom: 35px;
}

.hero .wrapper .datetitle {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 5px;
}

.hero .welcome-buttons {
    min-width: 200px;
    width: auto;
    clear: none;
    background: #eeb038;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero .welcome-buttons:hover,
.hero .welcome-buttons:focus {
    background-color: #f5c66c;
    color: #2867b0;
    transition: all 0.2s ease;
}

.hero .welcome-buttons:not(:last-child) {
    margin-right: 10px;
}*/

.logo{
  width:100%;
  margin:auto;
}

/*
* About Section
*/

.about {
    border-width: 15px 0;
    background-color: #fff;
    padding: 100px 0;
    position: relative;
}

.about p {
    color: #084259;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.6em;
    letter-spacing: -.3px;
}

.about p span {
    font-weight: 700;
    text-transform: uppercase;
}

#mc_embed_signup {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#mc-embedded-subscribe {
    height: 32px;
    background: #eeb038;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0px 15px 0px 15px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#mc-embedded-subscribe:hover {
    background-color: #f5c66c;
    color: #2867b0;
}

/*
* Sponsors section
*/

.sponsors{
    background-color:#8B181D;
    position: relative:
    color: #fff;
}

.sponsors h1{
    font-family: 'Raleway';
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.sponsors .welcome-buttons {
    display: block;
    clear: none;
    background: #eeb038;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 40px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.sponsors .welcome-buttons:hover,
.sponsors .welcome-buttons:focus {
    background-color: #f5c66c;
    color: #2867b0;
    transition: all 0.2s ease;
}

.sponsors .welcome-buttons:not(:last-child) {
    margin-right: 10px;
}

/*
* The Team Section
*/

.team {
    background-color: #fff;
    padding: 50px 0px 800px 0px;
    color: #8B181D;
}

.team h1{
    font-family: 'Raleway';
    font-weight: 700;
    margin: 30px 0;
}

/*
* FAQ Section
*/

.faq {
    background-color: #fff;
    color: #8B181D;
    padding: 50px 0px 100px;
}

.faq a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.faq a:hover{
    color: rgb(0, 0, 0);
    text-shadow: none;
}

.faq h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 30px 0;
}

.faq .question h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    color:#084259;
}

.faq .question hr {
    border-top: 8px solid #084259;
    margin: 20px 0;
    width: 80px;
}

.faq .question p {
    font-size: 18px;
    line-height: 1.5em;
}

.faq img {
    margin-bottom: -2px;
    margin-top: 40px;
    width: 300px;
}

/*
* ACCORDIAN
*/
.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a.accordion-section-title {
    color: #000;
    width: 100%;
    padding: 10px;
    display: inline-block;
    transition: all linear 0.15s;
    font-size: 1.400em;
}

a.accordion-section-title:hover, a.accordion-section-title.active {
    background: #eeb038;
    color: #FFF;
    text-shadow: none;
}

.accordion-section-content {
    padding: 15px;
    display: none;
    color: #000;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion-section-content a {
    color: #2867b0;
}

/*
* Footer Section
*/

.footer {
    background-color: #fff;
    color: #8B181D;
    padding: 30px 0;
}

.footer img {
    max-width: 250px;
    margin-bottom: 15px;
}

.footer h3 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.footer h3 a {
    color: #8B181D;
}

@media(max-width: 414px) {

    #mlh-trust-badge {
        right: 65px;
    }

    .hero img {
        max-width: 250px;
        height: auto;
        width: auto;
    }

    .hero .wrapper {
        width: auto;
        max-width: 310px;
        padding: auto;
        margin: auto;
    }

    .hero .welcome-buttons {
        font-size: 3.5vw;
    }

    .hero .wrapper .datetitle {
        font-size: auto;
    }

    .sponsors .welcome-buttons {
        font-size: 3.5vw;
    }

    a.accordion-section-title {
        text-align: center;
    }

}

@media(max-width: 321px) {
    body{
        margin-top: 150px;
    }

    .hero .wrapper {
        margin-top: 100px;
    }
}
