  /*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/*
* Primary Blue: #44D5FF;
* Light Blue (Logo Contour): #3366CC;
* Dark Blue (Logo Text): #084259;
* Dark Red (Logo Text): #8B181D
* Primary Pink: #FF7FA8;
*/

* {
    font-family: 'Open Sans';
    font-weight: 600;
}

body {
}

section {
    overflow-x:hidden;
}


/*
* Trust Badge
*/

#mlh-trust-badge {
    display: block;
    max-width: 100px;
    min-width: 60px;
    position: fixed;
    right: 50px;
    top: 0;
    width: 10%;
    z-index: 10000;
}

.navbar .navbar-brand{
  padding-top:0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #265a8f;
}

.navbar-default .navbar-nav > li > a {
    font-family:'Raleway';
    font-weight: 200;
    font-size: 18px;
}

div.collapse.navbar-collapse.navbar-ex1-collapse{
    margin-right: 100px;
}


/*
* Hero Section
*/

.hero::before{
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("/images/background.jpg");
    background-size:cover;
    width: 110%;
    height: 110%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translate3d(0,0,0);

}


.hero {
    min-height: 110vh;
    color: #fff;
    z-index: 0;
    overflow: auto;
}

.hero img {
    max-width: 50%;
    height: auto;
}

.hero hr {
    border-top: 15px solid #084259;
    margin: 0;
    position: relative;
    top: -14px;
}

.hero .wrapper {
    width:auto;
    background-color: rgba(77, 82, 87, 0.3);
    border-radius: 10px;
    padding: 15px 25px 0px 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 20px;
}

.hero .wrapper h2 {
    font-size: auto;
    font-weight: 200;
    padding-bottom: 35px;
}

.hero .wrapper .datetitle {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 5px;
}

.hero .welcome-buttons {
    width: auto;
    clear: none;
    background: none;
    border: medium solid #fff;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;
}

.hero .welcome-buttons:hover,
.hero .welcome-buttons:focus {
    background-color: #656565;
    transition: all 0.2s ease;
}

.hero .welcome-buttons:not(:last-child) {
    margin-right: 10px;
}

.logo{
  width:100%;
  margin:auto;
}

/*
* About Section
*/

.about {
    border-width: 15px 0;
    background-color: #f6f7eb;
    padding-top: 100px;
    position: relative;
}
.about hr {
    border-top: 5px solid #8B181D;
    margin: 0;
    position: relative;
    top: -14px;
    max-width: 50%
}

.about h1{
  color: #3366CC;
  font-size: 26px;
}

.about h2{
  font-family: 'Raleway';
  font-weight: 400;
  margin-bottom: 35px;
  color: #3366CC;
  font-size: 30px;
}

.about .box{
  margin-bottom: 75px;
}

.about .box p{
  font-weight: 300;
  font-size: 20px;
  color:#084259;
  max-width: 75%;
}

.about p {
    color: #084259;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.6em;
    letter-spacing: -.3px;
}

.about p span {
    font-weight: 700;
    text-transform: uppercase;
}

#mc_embed_signup {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#mc-embedded-subscribe {
    height: 32px;
    color: #eeb038;
    border: medium solid #eeb038;
    padding: 0px 15px 0px 15px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #f6f7eb;
}

#mc-embedded-subscribe:hover {
    background-color: #f5c66c;
}

/*
* Sponsors section
*/

.sponsors{
    background-color:#f6f7eb;
    position: relative:
    color: #8B181D;
    padding-bottom: 50px;
}

.sponsors h2{
    font-family: 'Raleway';
    font-weight: 400;
    color: #8B181D;
    text-align: center;
    margin-top: 100px;
}

.sponsors h1{
    font-family: 'Raleway';
    font-weight: 700;
    color: #8B181D;
    text-align: center;
    margin-top: 100px;
}
.sponsors .welcome-buttons {
    width:auto;
    display: inline-block;
    clear: none;
    background: #;
    border: medium solid #eeb038;
    color: #eeb038;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 40px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.sponsors .welcome-buttons:hover,
.sponsors .welcome-buttons:focus {
    background-color: #f5c66c;
    transition: all 0.5s ease;
}

.sponsors .welcome-buttons:not(:last-child) {
    margin-right: 10px;
}

.sponsors img{
  width: 100%;
  height: 100%;

  -webkit-transition: all 0.s ease-in-out; /* Safari and Chrome */
  -moz-transition: all 0.2s ease-in-out; /* Firefox */
  -ms-transition: all 0.2s ease-in-out; /* IE 9 */
  -o-transition: all 0.2s ease-in-out; /* Opera */
  transition: all 0.2s ease-in-out;

}

.sponsors img:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
}

.sponsors a:hover {
    text-decoration: none;
}

.sponsors .partner img{

}

.sponsors .gold{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 3em;
}

.gold-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 100%;
}

.sponsors .gold .logo--canada{
  width: 450px;
}

.sponsors .silver{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  margin: 3em;
}

.silver-wrapper{
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom:60px;
  width:100%;
}

.sponsors .silver .logo--klipfolio {
  width: 225px;
}

.sponsors .silver .logo--marchnetworks {
  width: 250px;
}
.sponsors .silver .logo--surveymonkey {
  width: 450px;
}

.sponsors .silver .logo--morganstanley {
  width: 400px;
}

.sponsors .silver .logo--youi {
  width: 170px;
}

.sponsors .silver .logo--deloitte {
  width: 250px;
}

.sponsors .bronze .logo--rl {
  padding-top: 10px;
}

.sponsors .bronze .logo--scalar {
  padding-top: 10px;
  max-width: 120px;
}

.sponsors .bronze {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  margin:3em;
}

.bronze-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  width:100%;
}

.sponsors .bronze .logo--agilebits{
  width: 180px;
}

.sponsors .bronze .logo--accenture{
  width:180px;
  padding-bottom: 20px;
}

.sponsors .bronze .logo--adga{
  width:210px;
}

.sponsors .bronze .logo--bitesite img{
  width: 200px;
}

.sponsors .bronze .logo--kanatanorthbia img{
  width: 120px;
}


.sponsors .bronze .logo--phreesia img{
  width: 180px;
}


.inkind-wrapper{
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 100%;
}

.sponsors .inkind {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin:3em;
}

.sponsors .inkind .logo--jetbrains{
  width: 100px;
}

.sponsors .inkind .logo--twilio{
  width: 150px;
}

.sponsors .inkind .logo--digitalocean{
  width:150px;
}

.sponsors .inkind .logo--nextcanada{
  width: 150px;
}

.sponsors .inkind .logo--communitech{
  width: 150px;
  }

.sponsors .inkind .logo--redbull{
  width: 150px;
}

.sponsors .inkind .logo--indico{
	width:100px;
}

.sponsors .inkind .logo--cds{
	width:70px;
}

.community-wrapper{
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 100%;
}

.sponsors .communitypartner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin:3em;
}
.sponsors .logo--uo{
  width:250px;
}

.sponsors .logo--mlh{
  width:250px;
}

.sponsors .logo--github{
  width:250px;
}

.sponsors .logo--bloomberg{
  width: 250px;
}


.sponsors .logo--legacy{
  width: 250px;
}


  /*
* The Team Section
*/

.team {
    background-color: #f6f7eb;
    padding: 50px 0px 75px 0px;
    color: #8B181D;
}

.team h1{
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 35px;
    color: #8B181D;
}

.team h2{
  font-family: 'Montserrat';
  font-weight:450;
  color: #084259;
}

/*
* FAQ Section
*/

.faq {
    background-color: #f6f7eb;
    color: #8B181D;
    padding: 50px 0px 50px;
}

.faq a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.faq a:hover{
    color: rgb(0, 0, 0);
    text-shadow: none;
}

.faq h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 30px 0;
}

.faq .question h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    color:#084259;
}

.faq .question hr {
    border-top: 8px solid #084259;
    margin: 20px 0;
    width: 80px;
}

.faq .question p {
    font-size: 18px;
    line-height: 1.5em;
}

.faq img {
    margin-bottom: -2px;
    margin-top: 40px;
    width: 300px;
}

/*
* ACCORDIAN
*/
.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a.accordion-section-title {
    color: #000;
    width: 100%;
    padding: 10px;
    display: inline-block;
    transition: all linear 0.15s;
    font-size: 1.400em;
}

a.accordion-section-title:hover, a.accordion-section-title.active {
    background: #eeb038;
    color: #FFF;
    text-shadow: none;
}

.accordion-section-content {
    padding: 15px;
    display: none;
    color: #000;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion-section-content a {
    color: #2867b0;
}

/*
* Footer Section
*/

.footer {
    background-color: #17394e;
    color: #fff;
    padding: 30px 0;
}

.footer img {
    max-width: 250px;
    margin-bottom: 15px;
}

.footer h3 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.footer h3 a {
    color: #ffffff;
}

@media(max-width: 414px) {

    #mlh-trust-badge {
        right: 65px;
    }

    .hero img {
        max-width: 250px;
        height: auto;
        width: auto;
    }

    .hero .wrapper {
        width: auto;
        max-width: 310px;
        padding: auto;
        margin: auto;
    }

    .hero .welcome-buttons {
        font-size: 3.5vw;
    }

    .hero .wrapper .datetitle {
        font-size: auto;
    }

    .sponsors .welcome-buttons {
        font-size: 3.5vw;
    }

    a.accordion-section-title {
        text-align: center;
    }

    i.fa::before{
        color: black;
    }

}

@media(max-width: 320px) {
    body{
        margin-top: 150px;
    }

    .hero .wrapper {
        margin-top: 100px;
    }

    i.fa::before{
        color: black;
    }

    .team h2, .team h3{
        font-size: 5vw;
        margin-top: 0px;
    }
}

@media(width: 768px) {
    a.page-scroll{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #mlh-trust-badge {
        right: 10px;
    }

    div.collapse.navbar-collapse.navbar-ex1-collapse{
        margin-right: 65px;
    }

    .nav.navbar-nav.navbar-right{
        margin: 0px;
        padding: 0px;
    }
}

@media(width: 1024px) {

    #mlh-trust-badge {
        right: 30px;
    }
}
