---
layout: default
---
<!--
 __    __    ______   .___________.___________.    ___       __    __       ___       ______  __  ___
|  |  |  |  /  __  \  |           |           |   /   \     |  |  |  |     /   \     /      ||  |/  /
|  |  |  | |  |  |  | `---|  |----`---|  |----`  /  ^  \    |  |__|  |    /  ^  \   |  ,----'|  '  /
|  |  |  | |  |  |  |     |  |        |  |      /  /_\  \   |   __   |   /  /_\  \  |  |     |    <
|  `--'  | |  `--'  |     |  |        |  |     /  _____  \  |  |  |  |  /  _____  \ |  `----.|  .  \
 \______/   \______/      |__|        |__|    /__/     \__\ |__|  |__| /__/     \__\ \______||__|\__\

-->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">
                <img src="/images/logo.png" width="50" height="50" alt="">
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">ABOUT</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#faq">FAQ</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#sponsors">SPONSORS</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#team">THE TEAM</a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="https://www.facebook.com/UOttaHack-311120619343041/">
                    <i class="fa fa-facebook-square fa-lg" aria-hidden="true" style="color:white;"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/uottahack/">
                    <i class="fa fa-instagram fa-lg" aria-hidden="true" style="color:white;"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/uottahack/">
                    <i class="fa fa-twitter fa-lg" aria-hidden="true" style="color:white;"></i>
                  </a>
                </li>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

{% include hero.html %}

<section id="about" class="about about-section">

<!--
  <div class="container">
    <div class="row boxes text-center">
      <div class="col-md-4 text-left box">
        <h2>BUILD.</h2>
        <hr>
        <p>Students from across Canada will be spending their weekend building extraordinary hacks and bring their ideas to life.</p>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-4 text-left box">
        <h2>LEARN.</h2>
        <hr>
        <p>Both veteran and new hackers will discover and learn more than they ever could imagine in a high-energy environment.</p>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-4 text-left box">
        <h2>COLLABORATE.</h2>
        <hr>
        <p>Become a part of a huge and diverse community of student hackers from across the country, and make connections that jumpstart your career.</p>
      </div>
    </div>
-->

    <div class="container">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
            <h1> APPLICATIONS OPEN DECEMBER 4TH.</h1>
            <br>
            <!--{{ site.event.about.description | markdownify }}-->
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
            {{ site.event.about.mail | markdownify }}
        </div>
    </div>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="//uottahack.us16.list-manage.com/subscribe/post?u=0d17aed384fbbc8c0739e835b&amp;id=8e7cdd5f11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_0d17aed384fbbc8c0739e835b_8e7cdd5f11" tabindex="-1" value="">
                </div>
                <div class="clear">
                    <button id="mc-embedded-subscribe" type="submit">SUBSCRIBE</button>
                </div>
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
</section>

<section id ="faq" class="faq">
  <div class="container">
    <h1 class="text-center">FREQUENTLY ASKED QUESTIONS</h1>
    {% for item in site.event.faq %}
    <div class="accordion">
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-{{ forloop.index }}">{{ item.question }}</a>
            <div id="accordion-{{ forloop.index }}" class="accordion-section-content">
                <p>{{ item.answer | markdownify }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<section id ="sponsors" class="sponsors">
  <div class="wrapper text-center">
      <h2>Interested in Sponsoring uOttaHack?</h2>
      <br></br>
      <a href="mailto:sponsorship@uottahack.com"class="welcome-buttons" target="_top">talk to sponsorship@uottahack.com</a>
    </div>

  <div class="wrapper text-center">
    <h1> Our Sponsors </h1>
    <br>

    <!-- Sponsor Tiers-->

    <div class="row partner">
    </div>

    <div class="row gold">
    </div>

    <div class="row silver">
      <a href="https://www.klipfolio.com/">
        <img src="images/sponsors/klipfolio.png">
      </a>
      <a href="https://www.marchnetworks.com/">
        <img src="images/sponsors/marchnetworks.png">
      </a>
    </div>

    <div class="row bronze">
    </div>

    <div class="row inkind">
      <a href="https://www.jetbrains.com/">
        <img src="images/sponsors/jetbrains.png">
      </a>
      <a href="https://www.twilio.com/">
        <img src ="images/sponsors/twilio.png">
      </a>
      <a href="https://www.digitalocean.com/">
        <img src="images/sponsors/digitalocean.png">
      </a>
      <a href="https://www.nextcanada.com/">
        <img src="images/sponsors/nextcanada.png">
      </a>
    </div>


  </div>

  <div class="wrapper text-center">
      <h1> Community Partners</h1>
      <br></br>
      <div class="row">
        <a href="https://engineering.uottawa.ca/">
          <img src="images/sponsors/uoLogo.png">
        </a>
        <a href="https://mlh.io">
          <img src="images/sponsors/mlh-logo-color.png">
        </a>
      </div>
      <div class ="row">
        <a href="https://github.com/">
          <img src="images/sponsors/github-logo.png">
        </a>
        <a href="https://www.bloomberg.com/">
          <img src="images/sponsors/bloomberg-logo.png">
        </a>
      <!--  <a href="https://uottawa-sesa.ca/">
          <img src="images/sesa.png">
        </a>-->
      </div>
  </div>
</section>


<section id ="team" class="team">
  <div class="container">
    <h1 class="text-center">The Founding Minds Behind uOttaHack</h1>

    <div class="row text-center">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <h2> Paul Lee </h2>
        <h3> Co-Chair </h3>
      </div>

      <div class="col-sm-3">
        <h2> Matt Langlois </h2>
        <h3> Co-Chair </h3>
      </div>
      <div class="col-sm-3">
      </div>
    </div>

    <div class="row text-center">
      <div class ="col-sm-4">
        <h2> Emily Pham </h2>
        <h3> Director of Sponsorship</h3>
        <br>
        <h2> Amar Jasarbasic </h2>
        <h3> Sponsorship Team</h3>
        <br>
        <h2> Hamza Basrai </h2>
        <h3> Sponsorship Team</h3>
        <br>
        <h2> Ivor Benderavage </h2>
        <h3> Director of IT/AV</h3>

      </div>
      <div class ="col-sm-4">
        <h2> Arsani Guirguis </h2>
        <h3> Director of Marketing</h3>
        <br>
        <h2> MinhThao Dang</h2>
        <h3> Marketing Team </h3>
        <br>
        <h2> Abdulwahaab Ahmed </h2>
        <h3> UX Team </h3>
        <br>
        <h2> Sherry Wang </h2>
        <h3> Director of Finance</h3>

      </div>
      <div class="col-sm-4">
        <h2> Anita Popescu </h2>
        <h3> Director of User Experience </h3>
        <br>
        <h2> Natesh Kukreja </h2>
        <h3> UX Team </h3>
        <br>
        <h2> Stephanie Giang </h2>
        <h3> UX Team </h3>
        <br>
        <h2> Robert Conrad </h2>
        <h3> UX Team</h3>

      </div>
    </div>
</div>
</section>


</body>
