---
layout: default
---
<!--
 __    __    ______   .___________.___________.    ___       __    __       ___       ______  __  ___
|  |  |  |  /  __  \  |           |           |   /   \     |  |  |  |     /   \     /      ||  |/  /
|  |  |  | |  |  |  | `---|  |----`---|  |----`  /  ^  \    |  |__|  |    /  ^  \   |  ,----'|  '  /
|  |  |  | |  |  |  |     |  |        |  |      /  /_\  \   |   __   |   /  /_\  \  |  |     |    <
|  `--'  | |  `--'  |     |  |        |  |     /  _____  \  |  |  |  |  /  _____  \ |  `----.|  .  \
 \______/   \______/      |__|        |__|    /__/     \__\ |__|  |__| /__/     \__\ \______||__|\__\

-->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">
                <img src="/images/logo.png" width="50" height="50" alt="">
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">ABOUT</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#schedule">SCHEDULE</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#faq">FAQ</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#sponsors">SPONSORS</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#team">THE TEAM</a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="https://www.facebook.com/UOttaHack-311120619343041/">
                    <i class="fa fa-facebook-square fa-lg" aria-hidden="true" style="color:white;"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/uottahack/">
                    <i class="fa fa-instagram fa-lg" aria-hidden="true" style="color:white;"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/uottahack/">
                    <i class="fa fa-twitter fa-lg" aria-hidden="true" style="color:white;"></i>
                  </a>
                </li>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

{% include hero.html %}

<section id="about" class="about about-section">

<!--
  <div class="container">
    <div class="row boxes text-center">
      <div class="col-md-4 text-left box">
        <h2>BUILD.</h2>
        <hr>
        <p>Students from across Canada will be spending their weekend building extraordinary hacks and bring their ideas to life.</p>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-4 text-left box">
        <h2>LEARN.</h2>
        <hr>
        <p>Both veteran and new hackers will discover and learn more than they ever could imagine in a high-energy environment.</p>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-4 text-left box">
        <h2>COLLABORATE.</h2>
        <hr>
        <p>Become a part of a huge and diverse community of student hackers from across the country, and make connections that jumpstart your career.</p>
      </div>
    </div>
-->

    <div class="container countdown">
      <h1 id="head">Happy Hacking!</h1>
    </div>

    <!-- Begin MailChimp Signup Form -->
  <!--  <div id="mc_embed_signup">
        <form action="//uottahack.us16.list-manage.com/subscribe/post?u=0d17aed384fbbc8c0739e835b&amp;id=8e7cdd5f11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              -->
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <!--          <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_0d17aed384fbbc8c0739e835b_8e7cdd5f11" tabindex="-1" value="">
                </div>
                <div class="clear">
                    <button id="mc-embedded-subscribe" type="submit">SUBSCRIBE</button>
                </div>
            </div>
        </form>
    </div>
  -->
    <!--End mc_embed_signup-->
</section>

<section id="schedule" class="schedule">
  <div class="container">
    <h1 class="text-center">SCHEDULE</h1>
    <div class="panel">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#saturday">
          <h2 class="panel-title text-center">
            Saturday
          </h2>
        </a>
      </div>
      <div id="saturday" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <td>Time</td>
                <td>Duration</td>
                <td>Event</td>
                <td>Location</td>
              </tr>
            </thead>
            <tbody>
              {% for item in site.event.schedule.saturday %}
              <tr>
                <td>{{ item.time}}</td>
                <td>{{ item.duration }}</td>
                {% if item.description == null %}
                  <td>{{ item.event }}</td>
                {% else %}
                  <td>
                    <a href="#" data-toggle="modal" data-target="#{{ item.id }}">{{ item.event }}</a>
                    <div id="{{ item.id }}" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg workshop-modal">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ item.event }}</h4>
                          </div>
                          <div class="modal-body">
                            <p>{{ item.description }}</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                {% endif %}
                <td>{{ item.location }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#sunday">
          <h2 class="panel-title text-center">
            Sunday
          </h2>
        </a>
      </div>
      <div id="sunday" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <td>Time</td>
                <td>Duration</td>
                <td>Event</td>
                <td>Location</td>
              </tr>
            </thead>
            <tbody>
              {% for item in site.event.schedule.sunday %}
              <tr>
                <td>{{ item.time}}</td>
                <td>{{ item.duration }}</td>
                <td>{{ item.event }}</td>
                <td>{{ item.location }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section id ="faq" class="faq">
  <div class="container">
    <h1 class="text-center">IMPORTANT LINKS</h1>
    <div class="text-center">
      <h2 class="">Our slack: <a href="https://bit.ly/uottahack2018"><span class="text-black">CLICK HERE</span></a></h2><br/>
      <h2>Hackerearth: <a href="https://uottahack2018.hackerearth.com"><span class="text-black">CLICK HERE</span></a></h2><br/>
    </div>

</section>

<section id ="faq" class="faq">
  <div class="container">
    <h1 class="text-center">FREQUENTLY ASKED QUESTIONS</h1>
    {% for item in site.event.faq %}
    <div class="accordion">
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-{{ forloop.index }}">{{ item.question }}</a>
            <div id="accordion-{{ forloop.index }}" class="accordion-section-content">
                <p>{{ item.answer | markdownify }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<section id ="sponsors" class="sponsors">
<!--   <div class="wrapper text-center">
    <h2>Interested in Sponsoring uOttaHack?</h2>
    <br></br>
    <a href="mailto:sponsorship@uottahack.com"class="welcome-buttons" target="_top">talk to sponsorship@uottahack.com</a>
  </div> -->

  <div class="wrapper text-center">
    <h1> Our Sponsors </h1>
    <br>

    <!-- Sponsor Tiers-->
    <div class="partner-wrapper">
      <div class="row partner">
        <div class="col-xs-12">
          <div class="logo--canada center-block">
            <a href="https://canada.gc.ca/en">
              <img src="images/sponsors/canada.png">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="gold-wrapper">
      <div class="row gold">
      </div>
    </div>

    <div class="silver-wrapper">

      <div class="row silver">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="logo--klipfolio center-block">
            <a href="https://www.klipfolio.com/">
              <img src="images/sponsors/klipfolio.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="logo--surveymonkey center-block">
            <a href="https://www.surveymonkey.com/">
              <img src="images/sponsors/surveymonkey.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="logo--marchnetworks center-block">
            <a href="https://www.marchnetworks.com/">
              <img src="images/sponsors/marchnetworks.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="logo--deloitte center-block">
            <a href="https://www2.deloitte.com/ca/en.html">
              <img src="images/sponsors/deloitte.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="logo--morganstanley center-block">
            <a href="https://www.morganstanley.com/">
              <img src="images/sponsors/morganstanley.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="logo--youi center-block">
              <a href="https://www.youi.tv/">
                <img src="images/sponsors/youi.png">
              </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-hidden">
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12" >
          <div class="logo--sunlife center-block">
            <a href="https://www.sunlife.ca/">
              <img src="images/sponsors/sunlife.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-hidden">
        </div>
      </div>

    </div>


    <div class="bronze-wrapper">
      <div class="row bronze">

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo--agilebits center-block">
            <a href="https://agilebits.com/">
              <img src="images/sponsors/agilebits.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo--accenture center-block">
            <a href="https://www.accenture.com">
              <img src="images/sponsors/accenture.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo--adga center-block">
            <a href="https://www.adga.ca/en">
              <img src="images/sponsors/adga.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo--bitesite center-block">
            <a href="http://www.bitesite.ca/">
              <img src="images/sponsors/bitesite.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo--kanatanorthbia center-block">
            <a href="https://www.kanatanorthbia.ca/">
              <img src="images/sponsors/kanatanorthbia.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo--phreesia center-block">
            <a href="https://www.phreesia.com/">
              <img src="images/sponsors/phreesia.png">
            </a>
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-hidden">
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo--rl center-block">
            <a href="http://www.rlsolutions.com/home">
              <img src="images/sponsors/rl.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo--scalar center-block">
            <a href="https://www.scalar.ca/en/">
              <img src="images/sponsors/scalar.png">
            </a>
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-hiden">
        </div>
      </div>

    </div>

    <div class="inkind-wrapper">
      <div class="row inkind">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--jetbrains center-block">
            <a href="https://www.jetbrains.com/">
              <img class="img-responsive" src="images/sponsors/jetbrains.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--digitalocean center-block">
            <a href="https://www.digitalocean.com/">
              <img class="img-responsive" src="images/sponsors/digitalocean.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--twilio center-block">
            <a href="https://www.twilio.com/">
              <img class="img-responsive" src ="images/sponsors/twilio.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--nextcanada center-block">
            <a href="https://www.nextcanada.com/">
              <img class="img-responsive" src="images/sponsors/nextcanada.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--communitech center-block">
            <a href="https://www.communitech.ca/">
              <img class="img-responsive" src="images/sponsors/communitech.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--indico center-block">
            <a href="https://indico.io/">
            <img class="img-responsive" src="images/sponsors/indico.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--diamond center-block">
            <a href="https://diamond.io">
              <img class="img-responsive" src="images/sponsors/diamond.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--stickermule center-block">
            <a href="http://hackp.ac/mlh-stickermule-hackathons">
              <img class="img-responsive" src="images/sponsors/stickermule.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="logo--fitbit center-block">
            <a href="https://fitbit.com">
              <img class="img-responsive" src="images/sponsors/fitbit.png">
            </a>
          </div>
        </div>

      </div>
    </div>

  <div class="wrapper text-center">
      <h1> Community Partners</h1>

      <div class="community-wrapper">

        <div class="row communitypartner">

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="logo--uo center-block">
              <a href="https://engineering.uottawa.ca/">
                <img src="images/sponsors/uoLogo.png">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="logo--mlh center-block">
              <a href="https://mlh.io">
                <img src="images/sponsors/mlh-logo-color.png">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="logo--github center-block">
              <a href="https://github.com/">
                <img src="images/sponsors/github-logo.png">
              </a>
            </div>
          </div>

          <div class="logo--bloomberg center-block">
            <a href="https://www.bloomberg.com/">
              <img src="images/sponsors/bloomberg-logo.png">
            </a>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="logo--legacy center-block">
              <a href="http://www.legacycan.ca/">
                <img src="images/sponsors/legacy.png">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="logo--nsec center-block">
              <a href="http://www.nsec.io/">
                <img src="images/sponsors/nsec.png">
              </a>
            </div>
          </div>

        </div>

      </div>
  </div>

</section>


<section id ="team" class="team">
  <div class="container">
    <h1 class="text-center">The Founding Minds Behind uOttaHack</h1>

    <div class="row text-center">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <h2> Paul Lee </h2>
        <h3> Co-Chair </h3>
      </div>

      <div class="col-sm-3">
        <h2> Matt Langlois </h2>
        <h3> Co-Chair </h3>
      </div>
      <div class="col-sm-3">
      </div>
    </div>

    <div class="row text-center">
      <div class ="col-sm-4">
        <h2> Emily Pham </h2>
        <h3> Director of Sponsorship</h3>
        <br>
        <h2> Amar Jasarbasic </h2>
        <h3> Sponsorship Team</h3>
        <br>
        <h2> Hamza Basrai </h2>
        <h3> Sponsorship Team</h3>
        <br>
        <h2> Ivor Benderavage </h2>
        <h3> Director of IT/AV</h3>

      </div>
      <div class ="col-sm-4">
        <h2> Arsani Guirguis </h2>
        <h3> Director of Marketing</h3>
        <br>
        <h2> MinhThao Dang</h2>
        <h3> Marketing Team </h3>
        <br>
        <h2> Natesh Kukreja </h2>
        <h3> Logistics Team </h3>
        <br>
        <h2> Sherry Wang </h2>
        <h3> Director of Finance</h3>

      </div>
      <div class="col-sm-4">
        <h2> Anita Popescu </h2>
        <h3> Co-Director of Logistics </h3>
        <br>
        <h2> Abdulwahaab Ahmed </h2>
        <h3> Co-Director of Logistics </h3>
        <br>
        <h2> Stephanie Giang </h2>
        <h3> Logistics Team </h3>
        <br>
        <h2> Robert Conrad </h2>
        <h3> Logistics Team</h3>

      </div>
    </div>
</div>
</section>


</body>
